@charset "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
       url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
       url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
       url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", "Noto Sans Japanese", "YuGothic", "游ゴシック", Meiryo, "メイリオ", Verdana, "MS Pゴシック", sans-serif;
  height: 100%;
  background: #f9f9f9;
}

li {
  list-style: none;
}

img{
  max-width: 100%;
}

#login {
  background: url("../images/backgroundHongkong@2x.png") no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #000000;
}

#login h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

#login .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 280px;
  /* あとで正確な高さを入れる */
  height: 600px;
  margin: auto;
}

/* button style */

.btnFacebookLogin {
  background: url("../images/iconFacebook@2x.png") no-repeat 25px 50% #43619C;
  /* アイコンサイズを変えるときはここ! */
  background-size: auto 20px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  min-width: 280px;
  max-width: 400px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px 0;
}

.btnFacebookLogin a {
  color: #ffffff;
  display: block;
}

.btnTwitterLogin {
  background: url("../images/iconTwitter@2x.png") no-repeat 25px 50% #24A9E6;
  background-size: auto 20px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  min-width: 280px;
  max-width: 400px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px 0;
}

.btnTwitterLogin a {
  color: #ffffff;
  display: block;
}

.btnRegister {
  background: #ffffff;
  color: #000000;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  min-width: 280px;
  max-width: 400px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px 0;
}

.btnRegister a {
  color: #000000;
  display: block;
}

/* hr style */
.hrText {
  color: #ffffff;
  position: relative;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.hrText:before {
  content:"";
  display: block;
  width: 108px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 0;
}

.hrText:after {
  content:"";
  display: block;
  width: 108px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  right: 0;
}


#home h1.hashHeading1 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 30px 20px 20px 20px;
}

#home h1.hashHeading1 a {
  text-decoration: none;
  color: #000000;
}


h1.hashHeading1 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 30px 20px 20px 20px;
}

h1.hashHeading1 a {
  text-decoration: none;
  color: #000000;
}


/* navigationTabBarWithSearch */
#home header {
  width: 100%;
  background-image: linear-gradient(-225deg, #09C5E6 0%, #19CDA1 100%);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
}

#home header .navSearchform {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

#home header .navSearchform .search {
  width: 100%;
  height: 1;
  line-height: 44px;
  border-radius: 22px;
  background-color: rgba(0,0,0,0.30);
  font-size: 16px;
  padding: 0 15px;
  box-sizing: border-box;
}

.search input {
  width: 100%;
  height: 28px;
  color: #ffffff;
  background: none;
  border-style: none;
}

input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.50);
  line-height: 1.5;
}

#home header .navSearchform button {
  display: none;
}

/* navigationTabs */
.tab{
  overflow: hidden;
}

.tab li {
  float: left;
}

.tab li a {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px 13px 20px;
  display: block;
}

#home .tab li a {
  color: rgba(255,255,255,0.80);
}

#home .tab li a:hover {
  color: #ffffff;
}

#home .tab .selected {
  border-bottom: 2px solid #ffffff;
}

#home .tab .selected a {
  color: #ffffff;
}

/* navigationTabBar */
.navTabBar {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
}

.navTitle {
  color: #000000;
  font-size: 15px;
  text-align: center;
  padding-top: 14px;
}

.navTabBar .tab li a {
  color: rgba(25, 205, 161, 0.80);
}

.navTabBar .tab li a:hover {
  color: #19CDA1;
}

.navTabBar .tab .selected {
  border-bottom: 2px solid #19CDA1;
}

.navTabBar .tab .selected a {
  color: #19CDA1;
}

/* NavigationBar */
.navBar {
  width: 100%;
  height: 43px;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
}

.iconBack {
  position: absolute;
  width: 36px;
  height: 36px;
  float: left;
  margin: 11px 15px;
}

.iconBack:before {
  color: #000000;
  content:"\f104";
  font-size: 1.2em;
  margin-right: 5px;
  font-family: "FontAwesome";
}

.clear {
  clear: both;
}

/* Special Contents Style */
#home .specialContents img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: top;
  filter: brightness(80%);
}

#home .specialContents {
  position: relative;
}

#home .specialContents span {
  position: absolute;
  color: #ffffff;
  font-size: 32px;
  font-family: 'yumincho';
  font-weight: bold;
  line-height: 1.3;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

/* listCountry style */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#home .listCountry li {
  float: left;
  width: 49.8%;
  margin-bottom: 1px;
}

#home .listCountry li:nth-child(2n){
  margin-left: 0.4%;
}

#home .listCountry li img {
  display: block;
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: top;
  filter: brightness(80%);
}

#home .blockCountry {
  position: relative;
}

#home .blockCountry span {
  position: absolute;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 4px;
}

/* tagSort */
.tagSort {
  margin: 10px;
}

.tagCountry a {
  background: rgba(255,255,255,0.10);
  color: #666666;
  font-size: 12px;
  font-weight: lighter;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 5px;
  display: block;
  float: left;
}

.selectedTag a {
  color: #19CDA1;
  border: 1px solid #19CDA1;
  background: rgba(25,205,161,0.05);
  font-weight: normal;
  padding: 3px 15px;
}

/* Grid Spot Style */
.gridSpot li {
  float: left;
  width: 33.0%;
  margin-right: 0.4%;
  margin-bottom: 1px;
}

.gridSpot li:nth-child(3n){
  margin-right: 0;
}

.gridSpot li img {
  display: block;
  width: 100%;
  height: 125px;
  object-fit: cover;
  object-position: top;
}

/* TabBar */
.tabBarFixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #ffffff;
  border-top: rgba(178,178,178,0.30) 0.5px solid;
  width: 100%;
}

.tabBar {
  display: flex;
  align-items: center;
}

.tabBar li {
  flex: 0 0 20%;
  width: 20%;
  text-align: center;
}

.tabBar li a {
  display: block;
  color: #000000;
  font-size: 10px;
  height: 30px;
  padding: 10px 0;
}

.tabBar li a::before {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 16px;
  margin: 0 auto;
}

.iconSearch:before {
  color: #000000;
  content:"\f002";
  font-size: 1.2em;
  font-family: "FontAwesome";
}

.iconLike:before {
  color: #000000;
  content:"\f08a";
  font-size: 1.2em;
  font-family: "FontAwesome";
}

.iconAdd:before {
  background: -webkit-linear-gradient(-225deg, #09C5E6 0%, #19CDA1 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  content:"\f0fe";
  font-size: 1.2em;
  font-family: "FontAwesome";
}

li a.iconAdd {
  color: #19CDA1;
}

.iconNotification:before {
  color: #000000;
  content:"\f0a2";
  font-size: 1.2em;
  font-family: "FontAwesome";
}

.iconUser:before {
  color: #000000;
  content:"\f2c0";
  font-size: 1.2em;
  font-family: "FontAwesome";
}

/* Story Card Style */
.card {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin: 10px 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
  position: relative;
}

.cardInner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

.cardInner:before {
  content:"";
  width: 100%;
  height: 150px;
  background-color: rgba(0,0,0,0.30);
  position: absolute;
}

.cardTagCountry {
  background: rgba(255,255,255,0.30);
  color: #ffffff;
  font-size: 12px;
  font-weight: lighter;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 3px 5px;
  display: block;
  position: absolute;
  top:10px;
  right: 10px;
}

.cardTitleInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 0 15px;
}

.cardTitle  {
  font-family: 'yumincho';
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}

.timeStamp {
  font-size: 10px;
  color: #ffffff;
  text-align: center;
}

.cardContent {
  padding: 20px;
}

.userIconS {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.card .userIconS {
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.cardContent {
  text-align: center;
  font-size: 10px;
  color: #9b9b9b;
}

.cardUserName {
  margin: 5px 0 20px 0;
  color: #000000;
}

.cardLike, .cardComment {
 margin-right: 20px;
}

/* List Style */
.listUser:first-child {
  border-top: 1px solid #f3f3f3;
}

.listUser {
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
}

.listUser a {
  padding: 15px;
  display: block;
}

.listUserIconS {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
}

.noReadBorder {
  border : 3px solid #19CDA1;
  border-radius: 23px;
}

.noRead a {
  padding: 13px;
  background: #fffded;
  display: block;
}

.listUserName {
  font-size: 14px;
  margin: 0 10px ;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
}

/* List Notification */
.listNotification {
  margin: 2px 0 15px 0;
}

.notificationText {
  width: 75%;
  font-size: 14px;
  margin: 0 10px;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
}

.boldText {
  font-weight: bold;
}

.timeStampGrey {
  font-size: 10px;
  color: #ababab;
}

/* Profile style */
.Cover {
  background: #ffffff;
  height: auto;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
}

.imgCover {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  filter: brightness(80%);
}

.profileSetting {
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
}

.btnWhiteBorder a {
  background: rgba(0,0,0,0.30);
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px  rgba(255,255,255,0.80) solid;
  border-radius: 15px;
  margin-left: 10px;
  color: rgba(255,255,255,0.80);
  display: block;
}

.btnWhiteBorder {
  float: left;
}

.iconSetting:before {
  color: rgba(255,255,255,0.80);
  content:"\f013";
  font-size: 14px;
  margin-right: 3px;
  font-family: "FontAwesome";
}

.btnUserLike a {
  background: #ffffff;
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 16px;
  margin-left: 10px;
  display: block;
  position: absolute;
  top: 284px;
  right: 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
  color: #000000;
  display: block;
}

.userIconM {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
  display: block;
}

.profileUserIcon {
  position: absolute;
  top: 300px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.userName {
  font-size: 12px;
  margin-top: 0;
  color: #000000;
  text-align: center;
}

.userProfileSet {
  margin-top: 45px;
}

.userReviewPoint {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

.userFavCount {
  display: flex;
}

.userReviewCount {
  width: 50%;
  text-align: center;
}

.userReviewCount a {
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
  display: block;
}

.userLikeCount {
  width: 50%;
  text-align: center;
}

.userLikeCount a {
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
  display: block;
}

.sublabel {
  font-size: 8px;
  color: #999999;
  display: block;
}

.profileDiscription {
  font-family: 'yumincho';
  font-size: 12px;
  line-height: 1.8;
  margin: 10px 15px;
}

/* 2Tab */
.twoTabBar {
  display: flex;
  align-items: center;
}

.twoTab {
  width: 50%;
  text-align: center;
}

.twoTab a {
  font-size: 14px;
  font-weight: bold;
  color: rgba(25, 205, 161, 0.80);
  display: block;
  padding: 15px 0;
}

.twoTab a:hover {
  color: #19CDA1;
}

.twoTab.selected {
  border-bottom: 2px solid #19CDA1;
}

.twoTab.selected a {
  color: #19CDA1;
}

/* Story Style */
.story {
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
  position: relative;
}

.storyInner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
}

.storyInner:before {
  content:"";
  width: 100%;
  height: 240px;
  background-color: rgba(0,0,0,0.30);
  position: absolute;
}

.storyTitleInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  padding: 0 15px;
}

.storyTitle  {
  font-family: 'yumincho';
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}

.story .userIconS {
  position: absolute;
  top: 195px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.storyUserName {
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 225px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.storySubinformation {
  margin: 10px 15px;
}

.subinformationLabel {
  font-size: 10px;
  color: #999999;
  margin-right: 5px;
}

/* Contents FeedBack Set */
.contentsFeedBack {
  display: flex;
}

.contentsLike {
  width: 50%;
  text-align: center;
}

.contentsLike a {
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
  display: block;
}

.contentsComment {
  width: 50%;
  text-align: center;
}

.contentsComment a {
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
  display: block;
}

.sublabel {
  font-size: 8px;
  color: #999999;
  display: block;
}

/* Story Card Style */
.storyCard {
  margin: 10px;
  height: auto;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
}

.spotImg {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* TabBar分高さ確保 */
#wrap {
  margin-bottom: 64px;
}

@media screen and (max-width:600px) {
  /* 画面サイズが600px以下の場合に適用 */
}
