@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#login {
  background: url("../images/backgroundHongkong@2x.png") no-repeat;
  background-position: center top;
  background-size: 100%;
  background-color: #000000;
}

#login h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 64px;
  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

/* button style */

.btnFacebookLogin {
  background: #43619C;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  width: 280px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px auto;
}

.btnFacebookLogin:before {
  content: "";
  display: inline-block;
  background: url("../images/iconFacebook@2x.png") no-repeat;
  background-size: contain;
  padding-right: 15px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btnFacebookLogin a {
  color: #ffffff;
}

.btnTwitterLogin {
  background: #24A9E6;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  width: 280px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px auto;
}

.btnTwitterLogin:before {
  content: "";
  display: inline-block;
  background: url("../images/iconTwitter@2x.png") no-repeat;
  background-size: contain;
  padding-right: 15px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btnTwitterLogin a {
  color: #ffffff;
}

.btnRegister {
  background: #ffffff;
  color: #000000;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  width: 280px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px auto;
}

.btnRegister a {
  color: #000000;
  display: block;
}

/* hr style */
hr {
  height: 1px;
  background: #ffffff;
  border: none;
  outline: none;
  width: 280px;
  margin: 0 auto;
}


#home h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  margin: 20px 20px 20px 20px;
}

#home h1 a {
  text-decoration: none;
  color: #000000;
}


/* navigationTabBarWithSearch */
#home header {
  width: 100%;
  background-image: linear-gradient(-225deg, #09C5E6 0%, #19CDA1 100%);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
  position: fixed;
}

#home header .navSearchform .search {
  width: 100%;
  margin: 10px;
  height: 44px;
  border-radius: 22px;
  border-style: none;
  background-color: rgba(0,0,0,0.30);
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 0 15px;
}

.navSearchform ::-webkit-input-placeholder {
  color: rgba(255,255,255,0.50);
}

#home header .navSearchform button {
  display: none;
}

/* navigationTabs */
.tab li {
  float: left;
  font-size: 14px;
}

.tab li a {
  color: #ffffff;
  padding: 15px 20px 13px 20px;
  display: block;
}

.tab li a:hover {
  color: rgba(255,255,255,0.80);
}

.tab .selected {
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}

/* Special Contents Style */
#home .specialContents img {
  width: 100%;
  margin-top: 115px;
}


#home .specialContents img {
  width: 100%;
  margin-top: 115px;
}

/* listCountry style */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#home .listCountry {
  display: flex;
}
#home .listCountry img {
  width: 33.3%;
}


@media screen and (max-width:600px) {
  /* 画面サイズが600px以下の場合に適用 */
