@charset "UTF-8";

body{
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img{
  max-width: 100%;
}

#login .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 280px;
  /* あとで正確な高さを入れる */
  height: 600px;
  margin: auto;
}

#login {
  background: url("../images/backgroundHongkong@2x.png") no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #000000;
}

#login h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 64px;
  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

/* button style */

.btnFacebookLogin {
  background: url("../images/iconFacebook@2x.png") no-repeat 25px 50% #43619C;
  /* アイコンサイズを変えるときはここ! */
  background-size: auto 20px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  min-width: 280px;
  max-width: 400px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px 0;
}


.btnFacebookLogin a {
  color: #ffffff;
  display: block;
}

.btnTwitterLogin {
  background: url("../images/iconTwitter@2x.png") no-repeat 25px 50% #24A9E6;
  background-size: auto 20px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  min-width: 280px;
  max-width: 400px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px 0;
}

.btnTwitterLogin a {
  color: #ffffff;
  display: block;
}

.btnRegister {
  background: #ffffff;
  color: #000000;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  min-width: 280px;
  max-width: 400px;
  height: 60px;
  border-style: none;
  border-radius: 30px;
  margin: 20px 0;
}

.btnRegister a {
  color: #000000;
  display: block;
}

/* hr style */
.hrOr {
  color: #ffffff;
  position: relative;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.hrOr:before {
  content:"";
  display: block;
  width: 108px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 0;
}

.hrOr:after {
  content:"";
  display: block;
  width: 108px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  right: 0;
}


#home h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  margin: 20px 20px 20px 20px;
}

#home h1 a {
  text-decoration: none;
  color: #000000;
}


/* navigationTabBarWithSearch */
#home header {
  width: 100%;
  background-image: linear-gradient(-225deg, #09C5E6 0%, #19CDA1 100%);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
}

#home header .navSearchform {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

#home header .navSearchform .search {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  border-style: none;
  background-color: rgba(0,0,0,0.30);
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 0 15px;
  box-sizing: border-box;
}

.navSearchform ::-webkit-input-placeholder {
  color: rgba(255,255,255,0.50);
}

#home header .navSearchform button {
  display: none;
}

/* navigationTabs */
.tab{
  overflow: hidden;
}

.tab li {
  float: left;
  font-size: 14px;
}

.tab li a {
  color: #ffffff;
  padding: 15px 20px 13px 20px;
  display: block;
}

.tab li a:hover {
  color: rgba(255,255,255,0.80);
}

.tab .selected {
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}

/* Special Contents Style */
#home .specialContents img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: top;
}

/* listCountry style */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#home .listCountry li {
  float: left;
  width: 49.9%;
  margin-bottom: 1px;
}

#home .listCountry li:nth-child(2n){
  margin-left: 0.2%;
}

#home .listCountry li img {
  display: block;
  width: 100%;
  height: 187.5px;
  object-fit: cover;
  object-position: top;
}


@media screen and (max-width:600px) {
  /* 画面サイズが600px以下の場合に適用 */
}
